@model HomeDetailsViewModels;
@inject SignInManager<IdentityUser> signInManager;
@{
    ViewData["Title"] = "Details";
    var photopath = "~/Images/"+@Model.Employee.PhotoPath;
}
<center>
    <h1 class="m-4">
        @Model.PageTitle
    </h1>
</center>

<div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h3>@Model.Employee.Name</h3>
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top imagethumbnail" src="@photopath" asp-append-version="true"/>
                    <h4>Employee Id: @Model.Employee.Id</h4>
                    <h4>Employee Name: @Model.Employee.Name</h4>
                    <h4>Employee Department: @Model.Employee.Department</h4>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back</a>
                    @if(signInManager.IsSignedIn(User))
                    {
                        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary"><i class="fas fa-pencil-alt">&nbsp;Edit</i></a>
                        <a asp-controller="Home" asp-action="Delete" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
</div>
