@model HomeDetailsViewModels;
@{
    ViewData["Title"] = "Details";
}
<center>
    <h1 class="m-4">
        @Model.PageTitle
    </h1>
</center>

<div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h3>@Model.Employee.Name</h3>
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top" src="/Images/images.jpeg"/>
                    <h4>Employee Id: @Model.Employee.Id</h4>
                    <h4>Employee Name: @Model.Employee.Name</h4>
                    <h4>Employee Department: @Model.Employee.Department</h4>
                </div>
                <div class="card-footer text-center">
                    <a href="" class="btn btn-primary">View</a>
                    <a href="" class="btn btn-primary">Edit</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </div>
                </div>
            </div>
        </div>
</div>
